@font-face {
    font-family: 'sround' ;
    src: url('../font/Cafe24SsurroundAir/Cafe24SsurroundAir.ttf');
}
/*일반 태그*/
body{
    font-family: 'sround';
    max-width: 1140px;
    margin: auto;
    background-color: #f5f6f7;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
	color: white;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*일반 태그*/

/*메인*/
.find_wrapper{
    margin: 0 auto;
    max-width: 768px;
    min-width: 460px;
}

.header img{
    width: 786px;
    height: 220px;
}

.find_content{
    width: 455px;
    margin: 0 auto;
}

.title_button{
    display: flex;
}
.title_button .find_btn{
    width: 50%;
    border: 1px solid white;
    height: 60px;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 40px;
    padding: 15px 45px;
}
.pw_find{
    background-color: #77D87C;
    color: white;
}
.id_find{
    background: #477e47;
    color: grey;
}


.info_box{
    margin-bottom: 20px;
}

.inputBox{
    height: 50px;
    display: block;
    border: 1px solid #dadada;
    padding: 10px 0px;
    background-color: white;
    font-family: Dotum;

}

.find_content form .inputBox input{
    width: 450px;
    border: none;
    cursor: pointer;
}

.email_input_btn{
    display: flex;
    margin-bottom: 5px;
}
.email_input_btn .inputBox{
    width: 70%;
}

.email_input_btn .send_code{
    width: 30%;
}

.finded_wrap{
    height: 50px;
    margin: 20px 0;
}
.finded_wrap img{
    width: 50px;
    height: 50px;
}
.finded_wrap span{
    font-size: 25px;
    font-weight: bold;
}

.find_content .btn{
    width: 455px;
    border: none;
    background: #77D87C;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.send_code_button{
    width: 455px;
    border: none;
    background: #77D87C;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.login_btn{
	line-height: 40px !important;
}

.login_btn:hover{
    color: white;
}



/*메인*/
